body{
    position: relative;
}
/* har */
div.hdrWrap::before{
    content: '';
    display: block;
    background-color: #000;
    opacity: 0.7;
    width: 100%;
    height: 80px;
    position: absolute;
}
div.hdrWrap{}
div.hdrWrap>div.header{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    color: #fff;
    position: relative;
    opacity: 1;
}
div.hdrWrap>div.header::after{
    content: '';
    display: block;
    clear: both;
}
div.hdrWrap>div.header>div.logos{}
div.hdrWrap>div.header>div.logos>ul.nav{
    width: 50%;
    margin: 0 auto;
}
div.hdrWrap>div.header>div.logos>ul.nav::after{
    content: '';
    display: block;
    clear: both;
}
div.hdrWrap>div.header>div.logos>ul.nav>li{
    float: left;
    font-size: 30px;
    line-height: 40px;
    font-weight: 700;
    text-transform: capitalize;
    margin-left: 120px;
}
div.hdrWrap>div.header>div.logos>ul.nav>li:nth-child(1){
    margin-left: 0;
}
div.hdrWrap>div.header>div.logos>div.logo{
    font-size: 50px;
    line-height: 40px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}
div.hdrWrap>div.header>div.icon{
    width: calc(100% / 12);
    position: absolute;
    top: 0; right: 0;
    font-size: 25px;
}
/* main */
div.mainWrap{
    margin-top: -80px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../images/main_image/야마하\ 연주.PNG');
}
div.mainWrap>div.main{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    padding: 560px 0px 200px;
    position: relative;
}
div.mainWrap>div.main>h2{
    width: calc(100% / 12 * 5.5);
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
    text-transform: uppercase;
    color: #fff;
}
div.mainWrap>div.main>div.btn{
    background: rgba( 0, 0, 0, 0.5);
    width: calc(100% / 12 * 2);
    border-radius: 20px;
    margin-top: 40px;
    margin-left: 90px;
    position: relative;
}
div.mainWrap>div.main>div.btn>span{
    width: calc(100% / 12 * 2);
    line-height: 40px;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    text-transform: capitalize;
    padding-left: 35px;
}
/* cnt공통 */
div.cntWrap{
    margin-top: 120px;
}
div.cntWrap>div.content{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
}
div.cntWrap>div.content>div.header>h2{
    font-size: 80px;
    line-height: 80px;
    font-weight: 700;
    text-transform: uppercase;
}
/* cnt01 */
div.cntWrap:nth-child(3){
    margin: 0;
    background-color: #e1e0d8;
    padding: 120px 0px 300px;
}
div.cntWrap>div.content.cnt01>div.section::after{
    content: '';
    display: block;
    clear: both;
}
div.cntWrap>div.content.cnt01>div.section>div.article{
    width: 48%;
    margin: 0px 10px;
    float: left;
}
div.cntWrap>div.content.cnt01>div.section>div.article:nth-child(2){
    margin-top: -80px;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.images{
    position: relative;
}
div.cntWrap>div.content.cnt01>div.section>div.article:nth-child(1)>div.images>div.imgbg01{
    width: 480px;
    height: 480px;
    background-color: #301b3f;
    position: absolute;
    top: 160px;
    left: -40px;
}
div.cntWrap>div.content.cnt01>div.section>div.article:nth-child(1)>div.images>div.imgbg02{
    width: 535px;
    height: 160px;
    background-color: #301b3f;
    position: absolute;
    bottom: -40px;
    left: -85px;
}
div.cntWrap>div.content.cnt01>div.section>div.article:nth-child(2)>div.images>div.imgbg01{
    width: 530px;
    height: 200px;
    background-color: #301b3f;
    position: absolute;
    top: -40px;
    right: -80px;
}
div.cntWrap>div.content.cnt01>div.section>div.article:nth-child(2)>div.images>div.imgbg02{
    width: 480px;
    height: 520px;
    background-color: #301b3f;
    position: absolute;
    bottom: 80px;
    right: -40px;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.images>div.image{
    height: 760px;
    background-color: #ccc;
    position: relative;
    z-index: 1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.images>div.image.i1{
    margin-top: 60px;
    box-shadow: 2px 2px 4px black;
    background-image: url('../images/main_image/트럼본.jpg');
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.images>div.image.i2{
    box-shadow: 2px 2px 4px black;
    background-image: url('../images/main_image/색소폰.jpg');
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.texts{}
div.cntWrap>div.content.cnt01>div.section>div.article>div.texts>h3{
    margin-top: 80px;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.texts>p{
    font-size: 14px;
    line-height: 20px;
}
div.cntWrap>div.content.cnt01>div.section>div.article:nth-child(1)>div.texts>h3{
    text-align: right;
    margin-right: 70px;
}
div.cntWrap>div.content.cnt01>div.section>div.article:nth-child(1)>div.texts>p{
    width: 80%;
    margin: 0 auto;
    margin-top: 40px;
}
div.cntWrap>div.content.cnt01>div.section>div.article:nth-child(2)>div.texts{
    margin-left: 70px;
}
div.cntWrap>div.content.cnt01>div.section>div.article:nth-child(2)>div.texts>p{
    width: 75%;
    margin-top: 40px;
}

/* cnt02 */
div.cntWrap:nth-child(4){
    margin-top: -120px;
}
div.cntWrap>div.content.cnt02{
    width: 100%;
    max-width: 100%;
}
div.cntWrap>div.content.cnt02>div.header{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
}
div.cntWrap>div.content.cnt02>div.header>h2{
    width: calc(100% / 12 * 5);
    text-align: center;
    background-color: #301b3f;
    color: #fff;
    padding: 20px 0px;
    margin-left: 80px;
}
div.cntWrap>div.content.cnt02>div.section{
    width: 100;
    max-width: 100%;
    background-color: #301b3f;
    padding: 200px 0px 240px;
}
