@font-face {
    font-family: 'osw';
    src: url('./fonts/Oswald-VariableFont_wght.ttf') format('truetype');
}
@font-face {
    font-family: 'not';
    src: url('./fonts/NotoSerifKR-Light.otf') format('truetype');
}
html{
    font-size: 3vw;
}
body{
    position: relative;
    font-family: 'osw';
    font-size: 0.7vw;
}
/* har */
div.hdrWrap{
    background: rgba( 0, 0, 0, 0.8);
    position: relative;
}
div.hdrWrap>div.header{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    color: #fff;
}
div.hdrWrap>div.header::after{
    content: '';
    display: block;
    clear: both;
}
div.hdrWrap>div.header>div.logos{
    width: calc(100% / 12 * 11);
    float: left;
}
div.hdrWrap>div.header>div.logos>i{
    display: none;
}
div.hdrWrap>div.header>div.logos>ul.nav{
    width: 80%;
    margin-left: auto;
}
div.hdrWrap>div.header>div.logos>ul.nav::after{
    content: '';
    display: block;
    clear: both;
}
div.hdrWrap>div.header>div.logos>ul.nav>li{
    width: calc(100% / 6 * 2);
    float: left;
    font-size: min(3em,30px);
    line-height: min(1rem,40px);
    font-weight: 700;
    text-transform: capitalize;
    cursor: pointer;
}
div.hdrWrap>div.header>div.logos>div.logo{
    font-size: min(5em,50px);
    line-height: min(1rem,40px);
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
}
div.hdrWrap>div.header>div.icon{
    width: calc(100% / 12);
    float: right;
    font-size: min(2.5em,25px);
}
div.hdrWrap>div.header>div.icon>i{
    cursor: pointer;
}

/* main */
div.mainWrap{
    margin-top: min(-2rem,-80px);
    padding: min(14rem,560px) 0 min(6rem,240px);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../images/service_image/people-g1b2f7178a_1920.jpg');
}
div.mainWrap>div.main{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
}
div.mainWrap>div.main>h2{
    width: 60%;
    font-size: min(8em,80px);
    line-height: min(2rem,80px);
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 0px 5px 4px #000;
    margin-left: auto;
    text-align: center;
    margin-left: min(15.25rem,610px);
}

/* cnt*/
div.cntWrap{
    background-color: #e1e0d8;
    padding: min(3rem,120px) 0 min(6rem,240px);
}
div.cntWrap>div.content{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
}
div.cntWrap>div.content>div.header>h2{
    font-size: min(8em,80px);
    font-weight: 700;
    line-height: min(2rem,80px);
    text-transform: uppercase;
}
div.cntWrap>div.content>div.section{
    margin-top: min(2rem,80px);
}
div.cntWrap>div.content>div.section>div.artTop::after{
    content: '';
    display: block;
    clear: both;
}
div.cntWrap>div.content>div.section>div.artTop>div.article{
    width: calc(100% / 3 - 20px);
    margin: 0px 10px;
    border: 5px solid #a1a2a7;
    border-radius: 20px;
    float: left;
    perspective: 1000px;
    cursor: pointer;
    transition: border 0.5s;
    font-family: 'not';
}
div.cntWrap>div.content>div.section>div.artTop>div.article:hover{
    border: 5px solid #3c415c
    ;
}
div.cntWrap>div.content>div.section>div.artBtm>div.article:hover{
    border: 5px solid #3c415c;
}
div.cntWrap>div.content>div.section>div.artTop>div.article:hover>div.image{
    transform: rotateX(180deg);
}
div.cntWrap>div.content>div.section>div.artTop>div.article:hover>div.texts{
    transform: rotateX(0deg);
}
div.cntWrap>div.content>div.section>div.artBtm>div.article:hover>div.image{
    transform: rotateX(180deg);
}
div.cntWrap>div.content>div.section>div.artBtm>div.article:hover>div.texts{
    transform: rotateX(0deg);
}
div.cntWrap>div.content>div.section>div.artTop>div.article>div.image{
    width: 45%;
    height: min(7.5rem,300px);
    margin: 0 auto;
    margin-top: 20px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transform: rotateX(0deg);
    backface-visibility: hidden;
    transition: transform 1s;
}
div.cntWrap>div.content>div.section>div.artTop>div.article>div.texts{
    height: min(7.5rem,300px);
    margin-top: min(-5.5rem,-220px);
    transform: rotateX(180deg);
    backface-visibility: hidden;
    transition: transform 1s;
}
div.cntWrap>div.content>div.section>div.artTop>div.article>div.texts>h3{
    font-size: min(1rem,40px);
    line-height: min(7.5rem,300px);
    font-weight: 700;
    color:#3c415c;
    text-align: center;
}
div.cntWrap>div.content>div.section>div.artTop>div.article>div.image.i1{
    background-image: url('../images/service_image/service_img01.png');
}
div.cntWrap>div.content>div.section>div.artTop>div.article>div.image.i2{
    background-image: url('../images/service_image/service_img02.png');
}
div.cntWrap>div.content>div.section>div.artTop>div.article>div.image.i3{
    background-image: url('../images/service_image/service_img03.png');
}
div.cntWrap>div.content>div.section>div.artBtm{
    width: calc(100% / 12 * 8);
    margin: 0 auto;
    margin-top: min(1rem,40px);
}
div.cntWrap>div.content>div.section>div.artBtm::after{
    content: '';
    display: block;
    clear: both;
}
div.cntWrap>div.content>div.section>div.artBtm>div.article{
    width: calc(100% / 2 - 20px);
    margin: 0px 10px;
    border: 5px solid #a1a2a7;
    border-radius: 20px;
    float: left;
    perspective: 1000px;
    cursor: pointer;
    transition: border 0.5s;
    font-family: 'not';
}
div.cntWrap>div.content>div.section>div.artBtm>div.article>div.image{
    width: 45%;
    height: min(7.5rem,300px);
    margin: 0 auto;
    margin-top: 20px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transform: rotateX(0deg);
    backface-visibility: hidden;
    transition: transform 1s;
}
div.cntWrap>div.content>div.section>div.artBtm>div.article>div.image.i1{
    background-image: url('../images/service_image/service_img04.png');
}
div.cntWrap>div.content>div.section>div.artBtm>div.article>div.image.i2{
    background-image: url('../images/service_image/service_img05.png');
}
div.cntWrap>div.content>div.section>div.artBtm>div.article>div.texts{
    height: min(7.5rem,300px);
    margin-top: min(-5.5rem,-220px);
    transform: rotateX(180deg);
    backface-visibility: hidden;
    transition: transform 1s;
}
div.cntWrap>div.content>div.section>div.artBtm>div.article>div.texts>h3{
    font-size: min(4em,40px);
    line-height: min(7.5rem,300px);
    font-weight: 700;
    color:#3c415c;
    text-align: center;
}

/* bnr */
div.bnrWrap{
    padding: min(3rem,120px) 0;
    background-color: #3c415c;
}
div.bnrWrap>div.banner{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    position: relative;
}
div.bnrWrap>div.banner>h2{
    width: calc(100% / 12 * 4);
    background-color: #3c415c;
    padding: min(1rem,40px) 0;
    color: #fff;
    font-size: min(8em,80px);
    line-height: min(2rem,80px);
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    top: -22%;
    right: 0;
    border-radius: 20px;
}
div.bnrWrap>div.banner>div.searchBar{
    border: 5px solid white;
    height: min(2rem,80px);
}
div.bnrWrap>div.banner>div.searchBar>input{
    background-color: #3c415c;
    border: 5px solid white;
    width: calc(100% / 12 * 11);
    margin-left: 10px;
    height: min(1rem,40px);
    float: left;
    margin-top: 15px;
    color: #fff;
}
div.bnrWrap>div.banner>div.searchBar>i{
    width: calc(100% / 12 * 0.6);
    font-size: min(5em,50px);
    text-align: center;
    padding: 10px;
    color: #fff;
    float: left;
    cursor: pointer;
}
div.bnrWrap>div.banner>ul.faqMenu{
    border: 5px solid white;
    padding: min(1rem,40px) 0;
    color: #fff;
    margin-top: min(2rem,80px);
}
div.bnrWrap>div.banner>ul.faqMenu>li::after{
    content: '';
    display: block;
    clear: both;
}
div.bnrWrap>div.banner>ul.faqMenu>li{
    width: 80%;
    margin: 0 auto;
    margin-top: 10px;
}
div.bnrWrap>div.banner>ul.faqMenu>li:nth-child(odd).on+li{
    height: min(3rem,120px);
}
div.bnrWrap>div.banner>ul.faqMenu>li:nth-child(even){
    height: 0px;
    overflow: hidden;
    transition: height 0.5s;
}
div.bnrWrap>div.banner>ul.faqMenu>li>h3:hover{
    font-weight: 700;
}
div.bnrWrap>div.banner>ul.faqMenu>li>h3{
    width: 95%;
    margin: 0 auto;
    font-size: min(2em,20px);
    line-height: min(1rem,40px);
    font-family: 'not';
    float: left;
    cursor: pointer;
}
div.bnrWrap>div.banner>ul.faqMenu>li>span{
    font-size: min(2.4em,24px);
    font-weight: 700;
    margin-right: 10px;
    line-height: min(1rem,40px);
    font-family: 'osw';
    float: left;
}
div.bnrWrap>div.banner>ul.faqMenu>li>p{
    font-family: 'not';
    width: 80%;
    font-size: min(1.4em,14px);
    line-height: 20px;
    height: min(2rem,80px);
    margin-top: 20px;
    margin-left: min(1.25rem,50px);
}

/* ftr */
div.ftrWrap{
    background-color: #151515;
    padding: min(3rem,120px) 0 min(1rem,40px);
    color: #fff;
}
div.ftrWrap>div.footer{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
}
div.ftrWrap>div.footer>div.footerTop::after{
    content: '';
    display: block;
    clear: both;
}
div.ftrWrap>div.footer>div.footerTop>div.ftrLeft{
    width: calc(100% / 12 * 7);
    float: left;
}
div.ftrWrap>div.footer>div.footerTop>div.ftrLeft>div.ftrTop>ul.nav::after{
    content: '';
    display: block;
    clear: both;
}
div.ftrWrap>div.footer>div.footerTop>div.ftrLeft>div.ftrTop>ul.nav>li{
    float: left;
    margin-right: 100px;
    font-size: min(2em,20px);
    font-weight: 700;
    line-height: min(1rem,40px);
    text-transform: uppercase;
    cursor: pointer;
}
div.ftrWrap>div.footer>div.footerTop>div.ftrLeft>div.ftrMid{
    margin-top: min(2rem,80px);
}
div.ftrWrap>div.footer>div.footerTop>div.ftrLeft>div.ftrMid>ul.info::after{
    content: '';
    display: block;
    clear: both;
}
div.ftrWrap>div.footer>div.footerTop>div.ftrLeft>div.ftrMid>ul.info>li{
    float: left;
    margin-right: 50px;
    font-size: min(1.5em,15px);
    font-weight: 700;
    line-height: min(1rem,40px);
}
div.ftrWrap>div.footer>div.footerTop>div.ftrLeft>div.ftrMid>ul.info>li:nth-child(1){
    color: #666;
}
div.ftrWrap>div.footer>div.footerTop>div.ftrLeft>div.ftrBtm{
    margin-top: min(1rem,40px);
}
div.ftrWrap>div.footer>div.footerTop>div.ftrLeft>div.ftrBtm>ul.info>li{
    font-size: min(1.2em,12px);
    line-height: min(1rem,40px);
    font-weight: 700;
}
div.ftrWrap>div.footer>div.footerTop>div.ftrLeft>div.ftrBtm>ul.nav::after{
    content: '';
    display: block;
    clear: both;
}
div.ftrWrap>div.footer>div.footerTop>div.ftrLeft>div.ftrBtm>ul.nav>li{
    float: left;
    font-size: min(1.2em,12px);
    line-height: min(1rem,40px);
    font-weight: 700;
    margin-right: 55px;
}
div.ftrWrap>div.footer>div.footerTop>div.ftrRight{
    width: calc(100% / 12 * 2);
    float: right;
    text-align: right;
}
div.ftrWrap>div.footer>div.footerTop>div.ftrRight>ul.sns{
    cursor: pointer;
}
div.ftrWrap>div.footer>div.footerTop>div.ftrRight>ul.sns>li:hover>span{
    opacity: 1;
}
div.ftrWrap>div.footer>div.footerTop>div.ftrRight>ul.sns>li{
    margin-top: min(1rem,40px);
}
div.ftrWrap>div.footer>div.footerTop>div.ftrRight>ul.sns>li>span{
    font-size: min(1.4em,14px);
    font-weight: 700;
    text-transform: uppercase;
    margin-right: 20px;
    opacity: 0;
    transition: opacity 0.5s;
}
div.ftrWrap>div.footer>div.footerTop>div.ftrRight>ul.sns>li>i{
    font-size: min(3em,30px);
}
div.ftrWrap>div.footer>div.footerTop>div.ftrRight>ul.sns>li:nth-child(1){
    margin-top: 0;
}
div.ftrWrap>div.footer>div.logo{
    font-size: min(4em,40px);
    line-height: min(2rem,80px);
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin-top: min(1rem,40px);
    cursor: pointer;
}