@font-face {
    font-family: 'osw';
    src: url('./fonts/Oswald-VariableFont_wght.ttf') format('truetype');
}
@font-face {
    font-family: 'not';
    src: url('./fonts/NotoSerifKR-Light.otf') format('truetype');
}
html{
    font-size: 3vw;
}
body{
    overflow-x: hidden;
    position: relative;
    font-family: 'osw';
    font-size: 0.7vw;
}
/* har */
div.hdrWrap{
    background: rgba( 0, 0, 0, 0.8);
    position: relative;
    z-index: 999;
}
div.hdrWrap>div.header{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    color: #fff;
}
div.hdrWrap>div.header::after{
    content: '';
    display: block;
    clear: both;
}
div.hdrWrap>div.header>div.logos{
    width: calc(100% / 12 * 11);
    float: left;
}
div.hdrWrap>div.header>div.logos>i{
    display: none;
}
div.hdrWrap>div.header>div.logos>ul.nav{
    width: 80%;
    margin-left: auto;
}
div.hdrWrap>div.header>div.logos>ul.nav::after{
    content: '';
    display: block;
    clear: both;
}
div.hdrWrap>div.header>div.logos>ul.nav>li{
    width: calc(100% / 6 * 2);
    float: left;
    font-size: min(3em,30px);
    line-height: min(1rem,40px);
    font-weight: 700;
    text-transform: capitalize;
    cursor: pointer;
}
div.hdrWrap>div.header>div.logos>div.logo{
    font-size: min(5em,50px);
    line-height: min(1rem,40px);
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
}
div.hdrWrap>div.header>div.icon{
    width: calc(100% / 12);
    float: right;
    font-size: min(2.5em,25px);
}
div.hdrWrap>div.header>div.icon>i{
    cursor: pointer;
}

/* main */
div.mainWrap{
    position: relative;
}
div.mainWrap>video{
    width: 100%;
    margin-top: min(-2rem,-80px);
}
div.mainWrap>div.main{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    position: absolute;
    top: 35%; left: 20%;
}
div.mainWrap>div.main>h2{
    width: calc(100% / 12 * 5.5);
    font-size: min(5em,50px);
    font-weight: 700;
    line-height: min(1.25rem,50px);
    text-transform: uppercase;
    color: #fff;
    text-shadow: 0px 2px 6px #000;
}
div.mainWrap>div.main>div.btn{
    width: calc(100% / 12 * 2);
    margin-top: min(1rem,40px);
    margin-left: 20px;
    background: rgba( 0, 0, 0, 0.8);
    border-radius: 20px;
    line-height: min(1rem,40px);
    font-size: min(2em,20px);
    font-weight: 700;
    color: #fff;
    text-transform: capitalize;
    text-align: center;
}
/* cnt공통 */
div.cntWrap>div.content{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
}
div.cntWrap>div.content>div.header{
    height: min(3rem,120px);
}
div.cntWrap>div.content>div.header>h2{
    font-size: min(8em,80px);
    line-height: min(2rem,80px);
    font-weight: 700;
    text-transform: uppercase;
}
/* cnt01 */
div.cntWrap:nth-child(3){
    margin: 0;
    margin-top: -5px;
    background-color: #e1e0d8;
    padding: min(3rem,120px) 0 min(7.5rem,300px);
}
div.cntWrap>div.content.cnt01>div.section::after{
    content: '';
    display: block;
    clear: both;
}
div.cntWrap>div.content.cnt01>div.section>div.article{
    width: calc(100% / 2 - 20px);
    margin: 0px 10px;
    float: left;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.images{
    position: relative;
}
.imgbgs{
    width: 100%;
    height: min(18rem,720px);
    position: absolute;
}
div.article:nth-child(1) .imgbgs{
    bottom: -120px;
    left: -90px;
}
div.article:nth-child(2) .imgbgs{
    top: -30px;
    right: -90px;
}
.imgbgs .imgbg01{
    width: 100%;
    height: min(4rem,160px);
    background-color: #301b3f;
    border-radius: 10px;
}
.article:nth-child(2) .imgbg02{
    border-bottom-right-radius: 10px;
}
.article:nth-child(1) .imgbg02{
    margin-left: 50px;
    border-top-left-radius: 10px;
}
.imgbgs .imgbg02{
    width: 90%;
    height: min(12rem,480px);
    background-color: #301b3f;

}
div.cntWrap>div.content.cnt01>div.section>div.article>div.images>div.image{
    height: min(19rem,760px);
    background-color: #ccc;
    position: relative;
    z-index: 1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 150px;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.images>div.image.i1{
    margin-top: min(1.5rem,60px);
    box-shadow: 2px 2px 4px black;
    background-image: url('../images/main_image/cnt01-01.jpg');
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.images>div.image.i2{
    box-shadow: 2px 2px 4px black;
    background-image: url('../images/main_image/cnt01-02.jpg');
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.texts>h3{
    margin-top: min(2rem,80px);
    font-size: min(4em,40px);
    font-weight: 700;
    text-transform: uppercase;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.texts>p{
    font-size: min(1.4em,14px);
    line-height: min(0.5rem,20px);
    font-family: 'not';
}
div.cntWrap>div.content.cnt01>div.section>div.article:nth-child(1)>div.texts>h3{
    text-align: right;
    margin-right: 70px;
}
div.cntWrap>div.content.cnt01>div.section>div.article:nth-child(1)>div.texts>p{
    width: 80%;
    margin: 0 auto;
    margin-top: min(1rem,40px);
}
div.cntWrap>div.content.cnt01>div.section>div.article:nth-child(2)>div.texts{
    margin-left: 70px;
}
div.cntWrap>div.content.cnt01>div.section>div.article:nth-child(2)>div.texts>p{
    width: 75%;
    margin-top: min(1rem,40px);
}

/* cnt02 */
div.cntWrap:nth-child(4){
    background-color: #301b3f;
}
div.cntWrap>div.content.cnt02{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    padding: min(3rem,120px) 0 min(5rem,200px);
    position: relative;
}
div.cntWrap>div.content.cnt02>div.header{
    width: calc(100% / 12 * 5);
    background-color: #301b3f;
    position: absolute;
    top: min(-2rem,-80px);
    left: 90px;
    border-radius: 10px;
}
div.cntWrap>div.content.cnt02>div.header>h2{
    text-align: center;
    color: #fff;
    padding: min(0.5rem,20px) 0;
}
div.cntWrap>div.content.cnt02>div.section{
    position: relative;
}
div.cntWrap>div.content.cnt02>div.section>div.artView{
    width: 100%;
    height: min(11.25rem,450px);
    overflow: hidden;
}
div.cntWrap>div.content.cnt02>div.section>div.artView>div.artGroup{
    width: 300%;
    transition: margin-left 0.5s;
}
div.cntWrap>div.content.cnt02>div.section>div.artView>div.artGroup::after{
    content: '';
    display: block;
    clear: both;
}
div.cntWrap>div.content.cnt02>div.section>div.artView>div.artGroup>div.article{
    width: calc(100% / 9 - 20px);
    margin: 0px 10px;
    float: left;
    position: relative;
}

div.cntWrap>div.content.cnt02>div.section>div.artView>div.artGroup>div.article>div.texts{
    line-height: min(1rem,40px);
    font-weight: 700;
    color: #fff;
    text-align: center;
    position: absolute;
    margin: auto;
    top: 10px;left: 10px;
    text-shadow: 1px 2px 6px #000;
}
div.cntWrap>div.content.cnt02>div.section>div.artView>div.artGroup>div.article>div.texts>h3{
    font-size: min(4em,40px);
    font-family: 'not';
}
div.cntWrap>div.content.cnt02>div.section>div.artView>div.artGroup>div.article>div.texts>h5{
    font-size: min(2em,20px);
    text-transform: uppercase;
}
div.cntWrap>div.content.cnt02>div.section>div.artView>div.artGroup>div.article>div.image{
    height: min(11rem,440px);
    box-shadow: 3px 3px 6px #000;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
}
div.cntWrap>div.content.cnt02>div.section>div.artView>div.artGroup>div.article>div.image.i1{
    background-image: url('../images/main_image/art01.png');
}
div.cntWrap>div.content.cnt02>div.section>div.artView>div.artGroup>div.article>div.image.i2{
    background-image: url('../images/main_image/art02.png');
    background-position: top;
}
div.cntWrap>div.content.cnt02>div.section>div.artView>div.artGroup>div.article>div.image.i3{
    background-image: url('../images/main_image/art03.png');
}
div.cntWrap>div.content.cnt02>div.section>div.artView>div.artGroup>div.article>div.image.i4{
    background-image: url('../images/main_image/art04.png');
}
div.cntWrap>div.content.cnt02>div.section>div.artView>div.artGroup>div.article>div.image.i5{
    background-image: url('../images/main_image/art05.png');
}
div.cntWrap>div.content.cnt02>div.section>div.artView>div.artGroup>div.article>div.image.i6{
    background-image: url('../images/main_image/art06.png');
}
div.cntWrap>div.content.cnt02>div.section>div.artView>div.artGroup>div.article>div.image.i7{
    background-image: url('../images/main_image/art07.png');
}
div.cntWrap>div.content.cnt02>div.section>div.artView>div.artGroup>div.article>div.image.i8{
    background-image: url('../images/main_image/art08.png');
}
div.cntWrap>div.content.cnt02>div.section>div.artView>div.artGroup>div.article>div.image.i9{
    background-image: url('../images/main_image/art09.png');
    background-size: contain;
}
div.cntWrap>div.content.cnt02>div.section>div.btns{
    width: 50%;
    margin: 0 auto;
}
div.cntWrap>div.content.cnt02>div.section>div.btns::after{
    content: '';
    display: block;
    clear: both;
}
div.cntWrap>div.content.cnt02>div.section>div.btns>div.btn{
    cursor: pointer;
}
div.cntWrap>div.content.cnt02>div.section>div.btns>div.btn:nth-child(1){
    float: left;
    width: 50%;
}
div.cntWrap>div.content.cnt02>div.section>div.btns>div.btn:nth-child(2){
    float: right;
    width: 50%;
    text-align: right;
}
div.cntWrap>div.content.cnt02>div.section>div.btns>div.btn>span{
    font-size: min(8em,80px);
    color: #301b3f;
    text-shadow: 0px 5px 6px #000;
}

/* cnt03 */
div.cntWrap:nth-child(5){
    background-color: #3c415c;
}
div.cntWrap>div.content.cnt03{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    padding: min(2rem,80px) 0 min(5rem,200px);
    position: relative;
}
div.cntWrap>div.content.cnt03>div.header{
    width: calc(100% / 12 * 5);
    background-color: #3c415c;
    position: absolute;
    top: min(-2rem,-80px);
    right: 90px;
    border-radius: 10px;
}
div.cntWrap>div.content.cnt03>div.header>h2{
    text-align: center;
    color: #fff;
    padding: min(0.5rem,20px) 0;
}
div.cntWrap>div.content.cnt03>div.section::after{
    content: '';
    display: block;
    clear: both;
}
div.cntWrap>div.content.cnt03>div.section>div.article{
    width: calc(100% / 3 - 20px);
    margin: 0px 10px;
    float: left;
    cursor: pointer;
    position: relative;
}
div.cntWrap>div.content.cnt03>div.section>div.article>div.image{
    height: min(9rem,360px);
    border-radius: 50%;
    background-color: #ccc;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 3px 3px 6px #000;
}
div.cntWrap>div.content.cnt03>div.section>div.article>div.image.i1{
    background-image: url('../images/main_image/cnt03-01.PNG');
}
div.cntWrap>div.content.cnt03>div.section>div.article>div.image.i2{
    background-image: url('../images/main_image/cnt03-02.PNG');
}
div.cntWrap>div.content.cnt03>div.section>div.article>div.image.i3{
    background-image: url('../images/artist_image/cnt02-3-3.jpg');
}
div.cntWrap>div.content.cnt03>div.section>div.article:hover>div.texts{
    opacity: 1;
}
div.cntWrap>div.content.cnt03>div.section>div.article>div.texts{
    width: 100%;
    height: min(9rem,360px);
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.7);
    font-weight: 700;
    color: #fff;
    text-align: center;
    font-family: 'not';
    padding-top: min(2.5rem,100px);
    line-height: min(1rem,40px);
    opacity: 0;
    transition: opacity 0.6s;
    position: absolute;
    top: 0;
}
div.cntWrap>div.content.cnt03>div.section>div.article>div.texts>h3{
    font-size: min(3em,30px);
}
div.cntWrap>div.content.cnt03>div.section>div.article>div.texts>h5{
    font-size: min(2em,20px);
    text-transform: uppercase;
}
div.cntWrap>div.content.cnt03>div.section>div.article>div.texts>div.image{
    width: 90%;
    height: min(2.5rem,100px);
    margin: 0 auto;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
div.cntWrap>div.content.cnt03>div.section>div.article>div.texts>div.image.i1{
    background-image: url('../images/artist_image/guitarist.png');
}
div.cntWrap>div.content.cnt03>div.section>div.article>div.texts>div.image.i2{
    background-image: url('../images/artist_image/durmmer.png');
}
div.cntWrap>div.content.cnt03>div.section>div.article>div.texts>div.image.i3{
    background-image: url('../images/artist_image/musician.png');
}

/* bnr */
div.bnrWrap{
    background-color: #e1e0d8;
    padding: min(3rem,120px) 0;
}
div.bnrWrap>div.banner{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    position: relative;
}
div.bnrWrap>div.banner>div.header{
    width: calc(100% / 12 * 5);
    background-color: #e1e0d8;
    position: absolute;
    top: min(-4rem,-160px);left: 100px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
div.bnrWrap>div.banner>div.header>h2{
    font-size: min(8em,80px);
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    line-height: min(3rem,120px);
}
div.bnrWrap>div.banner>div.texts{
    position: relative;
}
div.bnrWrap>div.banner>div.texts>div.bar{
    width: 40%;
    height: min(0.5rem,20px);
    background-color: #3c415c;
    position: absolute;
}
div.bnrWrap>div.banner>div.texts>div.bar.bar01{
    top: min(5.5rem,220px);
}
div.bnrWrap>div.banner>div.texts>div.bar.bar01>div.ovrgird{
    margin-left: min(calc((100vw - 1080px) / -2),calc((100vw - 80vw) / -2));
    height: min(0.5rem,20px);
    background-color: #3c415c;

}
div.bnrWrap>div.banner>div.texts>div.bar.bar02{
    right: 0;bottom: min(3rem,120px);
}
div.bnrWrap>div.banner>div.texts>div.bar.bar02>div.ovrgird.ovr02{
    width: calc((100vw - 1080px) / 2 + 100%);
    min-width : calc((100vw - 80vw) / 2 + 100%);
    height: min(0.5rem,20px);
    background-color: #3c415c;

}
div.bnrWrap>div.banner>div.texts{
    background-color: #e1e0d8;
}
div.bnrWrap>div.banner>div.texts>p{
    font-size: min(3.5em,35px);
    line-height: min(3rem,120px);
    font-weight: 700;
    text-align: center;
    font-family: 'not';
}

/* ftr */
div.ftrWrap{
    background-color: #151515;
    padding: min(3rem,120px) 0 min(1rem,40px);
    color: #fff;
}
div.ftrWrap>div.footer{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
}
div.ftrWrap>div.footer>div.footerTop::after{
    content: '';
    display: block;
    clear: both;
}
div.ftrWrap>div.footer>div.footerTop>div.ftrLeft{
    width: calc(100% / 12 * 7);
    float: left;
}
div.ftrWrap>div.footer>div.footerTop>div.ftrLeft>div.ftrTop>ul.nav::after{
    content: '';
    display: block;
    clear: both;
}
div.ftrWrap>div.footer>div.footerTop>div.ftrLeft>div.ftrTop>ul.nav>li{
    float: left;
    margin-right: 100px;
    font-size: min(2em,20px);
    font-weight: 700;
    line-height: min(1rem,40px);
    text-transform: uppercase;
    cursor: pointer;
}
div.ftrWrap>div.footer>div.footerTop>div.ftrLeft>div.ftrMid{
    margin-top: min(2rem,80px);
}
div.ftrWrap>div.footer>div.footerTop>div.ftrLeft>div.ftrMid>ul.info::after{
    content: '';
    display: block;
    clear: both;
}
div.ftrWrap>div.footer>div.footerTop>div.ftrLeft>div.ftrMid>ul.info>li{
    float: left;
    margin-right: 50px;
    font-size: min(1.5em,15px);
    font-weight: 700;
    line-height: min(1rem,40px);
}
div.ftrWrap>div.footer>div.footerTop>div.ftrLeft>div.ftrMid>ul.info>li:nth-child(1){
    color: #666;
}
div.ftrWrap>div.footer>div.footerTop>div.ftrLeft>div.ftrBtm{
    margin-top: min(1rem,40px);
}
div.ftrWrap>div.footer>div.footerTop>div.ftrLeft>div.ftrBtm>ul.info>li{
    font-size: min(1.2em,12px);
    line-height: min(1rem,40px);
    font-weight: 700;
}
div.ftrWrap>div.footer>div.footerTop>div.ftrLeft>div.ftrBtm>ul.nav::after{
    content: '';
    display: block;
    clear: both;
}
div.ftrWrap>div.footer>div.footerTop>div.ftrLeft>div.ftrBtm>ul.nav>li{
    float: left;
    font-size: min(1.2em,12px);
    line-height: min(1rem,40px);
    font-weight: 700;
    margin-right: 55px;
}
div.ftrWrap>div.footer>div.footerTop>div.ftrRight{
    width: calc(100% / 12 * 2);
    float: right;
    text-align: right;
}
div.ftrWrap>div.footer>div.footerTop>div.ftrRight>ul.sns{
    cursor: pointer;
}
div.ftrWrap>div.footer>div.footerTop>div.ftrRight>ul.sns>li:hover>span{
    opacity: 1;
}
div.ftrWrap>div.footer>div.footerTop>div.ftrRight>ul.sns>li{
    margin-top: min(1rem,40px);
}
div.ftrWrap>div.footer>div.footerTop>div.ftrRight>ul.sns>li>span{
    font-size: min(1.4em,14px);
    font-weight: 700;
    text-transform: uppercase;
    margin-right: 20px;
    opacity: 0;
    transition: opacity 0.5s;
}
div.ftrWrap>div.footer>div.footerTop>div.ftrRight>ul.sns>li>i{
    font-size: min(3em,30px);
}
div.ftrWrap>div.footer>div.footerTop>div.ftrRight>ul.sns>li:nth-child(1){
    margin-top: 0;
}
div.ftrWrap>div.footer>div.logo{
    font-size: min(4em,40px);
    line-height: min(2rem,80px);
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin-top: min(1rem,40px);
    cursor: pointer;
}