@font-face {
    font-family: 'osw';
    src: url('./fonts/Oswald-VariableFont_wght.ttf') format('truetype');
}
@font-face {
    font-family: 'not';
    src: url('./fonts/NotoSerifKR-Light.otf') format('truetype');
}
body{
    position: relative;
    font-family: 'osw';
}
/* har */
div.hdrWrap::before{
    content: '';
    display: block;
    background-color: #000;
    opacity: 0.7;
    width: 100%;
    height: 80px;
    position: absolute;
}
div.hdrWrap{}
div.hdrWrap>div.header{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    color: #fff;
    position: relative;
    opacity: 1;
}
div.hdrWrap>div.header::after{
    content: '';
    display: block;
    clear: both;
}
div.hdrWrap>div.header>div.logos{}
div.hdrWrap>div.header>div.logos>ul.nav{
    width: 50%;
    margin: 0 auto;
}
div.hdrWrap>div.header>div.logos>ul.nav::after{
    content: '';
    display: block;
    clear: both;
}
div.hdrWrap>div.header>div.logos>ul.nav>li{
    float: left;
    font-size: 30px;
    line-height: 40px;
    font-weight: 700;
    text-transform: capitalize;
    margin-left: 140px;
}
div.hdrWrap>div.header>div.logos>ul.nav>li:nth-child(1){
    margin-left: 0;
}
div.hdrWrap>div.header>div.logos>div.logo{
    font-size: 50px;
    line-height: 40px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}
div.hdrWrap>div.header>div.icon{
    width: calc(100% / 12);
    position: absolute;
    top: 0; right: 0;
    font-size: 25px;
}

/* main */
div.mainWrap{
    margin-top: -80px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../images/product_image/product_main.jpg');
    padding: 560px 0px 200px;
}
div.mainWrap>div.main{
    margin-left: 100px;
    color: #fff;
}
div.mainWrap>div.main>h2{
    font-size: 80px;
    font-weight: 700;
    line-height: 120px;
    text-transform: uppercase;
}
div.mainWrap>div.main>p{
    width: 25%;
    text-align: center;
    font-size: 15px;
    line-height: 20px;
    height: 60px;
    overflow: hidden;
}

/* cnt 공통 */
div.cntWrap{
    background-color: #e1e1d9;
}
div.cntWrap>div.content{}

/* cnt01 */
div.cntWrap:nth-child(3){
    position: relative;
}
div.cntWrap>div.content.cnt01{}
div.cntWrap>div.content.cnt01::before{
    content: '';
    display: block;
    width: 40%;
    background-color: #b4a5a5;
    height: 200px;
    margin-left: auto;
    position: absolute;
    right: 0;
    top: -80px;
}
div.cntWrap>div.content.cnt01>div.header{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    margin-top: -80px;
    padding-top: 40px;
    position: relative;
}
div.cntWrap>div.content.cnt01>div.header>h2{
    width: 55%;
    margin-left: auto;
    padding: 55px 0px 80px;
    background-color: #301b3f;
    color: #fff;
    font-size: 80px;
    line-height: 80px;
    font-weight: 700;
    text-align: center;
    text-transform: capitalize;
    box-shadow: 2px 2px 10px #000;
}
div.cntWrap>div.content.cnt01>div.section{}
div.cntWrap>div.content.cnt01>div.section>div.article{
    width: 68%;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.image{
    height: 740px;
    background-color: #e1e1d9;
    box-shadow: 2px 2px 10px #000;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../images/product_image/product01.png');
    z-index: 2;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.texts{
    position: relative;
    z-index: 1;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.texts>div.textBgc{
    margin-top: -660px;
    width: 105%;
    height: 720px;
    background-color: #3c415c;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.texts>h3{
    width: 20%;
    writing-mode: vertical-rl;
    background-color: #3c415c;
    color: #fff;
    position: absolute;
    font-size: 40px;
    padding: 20px 0px;
    bottom: 0;
    right: -110px;
}


/* cnt02 */
div.cntWrap>div.content.cnt02{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
}
div.cntWrap>div.content.cnt02>div.header{}
div.cntWrap>div.content.cnt02>div.header>h2{}
div.cntWrap>div.content.cnt02>div.section{}
div.cntWrap>div.content.cnt02>div.section>div.article{}
div.cntWrap>div.content.cnt02>div.section>div.article>div.images{}
div.cntWrap>div.content.cnt02>div.section>div.article>div.images>div.image{}
div.cntWrap>div.content.cnt02>div.section>div.article>div.images>div.imgBgc{}
div.cntWrap>div.content.cnt02>div.section>div.article>div.images>span{}
div.cntWrap>div.content.cnt02>div.section>div.article>div.texts{}
div.cntWrap>div.content.cnt02>div.section>div.article>div.texts>p{}

/* cnt03 */
div.cntWrap>div.content.cnt03{}
