div.hdrWrap>div.header>div.icon{
    width: calc(100% / 4 * 1);
}
div.mainWrap>video{
    margin-top: 0;
}

div.cntWrap>div.content>div.header>h2{
    font-size: min(5em,50px);
    margin-left: min(1rem,40px);
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.texts>p{
    display: none;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.images{
    width: calc(100% / 4 * 3);
}
div.cntWrap>div.content.cnt01>div.section>div.article:nth-child(1)>div.texts>h3{
    margin-right: 0;
    text-align: center;
}
div.cntWrap>div.content.cnt01>div.section>div.article:nth-child(2)>div.texts{
    margin-left: auto;
    text-align: center;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.texts{
    float: none;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.texts>h3{
    font-size: min(2.4em,24px);
}