/* 90%=778px*/
html{
    font-size: 5.1vw;
}
body{
    font-size: 1.2vw;
}

div.hdrWrap::before{
    display: none;
}
div.hdrWrap{
    background-color: #000;
    position: fixed;
    width: 100vw;
    z-index: 2;
}
div.hdrWrap>div.header{
    width: 90%;
    max-width: 700px;
}
div.hdrWrap>div.header::after{
    content: '';
    display: block;
    clear: both;
}
div.hdrWrap>div.header>div.logos{
    float: left;
    width: calc(100% / 8 * 5);
}
div.hdrWrap>div.header>div.logos::after{
    content: '';
    display: block;
    clear: both;
}
div.hdrWrap>div.header>div.logos>i{
    display: block;
    width: calc(100% / 5 * 1);
    float: left;
    font-size: min(3em,30px);
    line-height: min(2rem,80px);
    margin-left: min(2.25rem,90px);
    cursor: pointer;
}
div.hdrWrap>div.header>div.logos>div.logo{
    width: calc(100% / 5 * 2);
    font-size: min(3.5em,35px);
    float: right;
    line-height: min(2rem,80px);
}
div.hdrWrap>div.header>div.icon{
    width: calc(100% / 8 * 1);
    position : inherit;
    float: right;
    font-size: min(3em,30px);
}
div.hdrWrap>div.header>div.icon>i{
    float: left;
    line-height: min(2rem,80px);
    margin: 0px 5px;
}
div.hdrWrap>div.header>div.logos>ul.nav{
    width: 100%;
    float: left;
    height: 0;
    overflow: hidden;
}
div.hdrWrap>div.header>div.logos>ul.nav>li:nth-child(1){
    margin-left: min(2.25rem,90px);
    margin-right: 15px;
}
div.hdrWrap>div.header>div.logos>ul.nav>li{
    width: calc(100% / 8 * 1);
    margin-left: 20px;
    line-height: min(2rem,80px);
    font-size: min(2em,20px);
}

/* main */
div.mainWrap{
    margin-top: 0;
}
div.mainWrap>div.main{
    width: 90%;
    max-width: 700px;
    padding: min(6rem,240px) 0 min(3rem,120px);
}
div.mainWrap>div.main>div.btn{
    display: none;
}

/* cnt 공통 */
div.cntWrap>div.content{
    width: 90%;
    max-width: 700px;
}
div.cntWrap>div.content>div.header>h2{
    font-size: min(3.5em,35px);
    line-height: min(1rem,40px);
}

/* cnt01 */
div.cntWrap:nth-child(3){
    padding: min(2rem,80px) 0 min(3rem,120px);
    z-index: 1;
}
div.cntWrap>div.content.cnt01>div.section{
    margin-top: min(1rem,40px);
}
div.cntWrap>div.content.cnt01>div.section>div.article{
    width: 100%;
    float: none;
}
div.cntWrap>div.content.cnt01>div.section>div.article:nth-last-child(1){
    margin-top: 80px;
}
div.cntWrap>div.content.cnt01>div.section>div.article::after{
    content: '';
    display: block;
    clear: both;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.images{
    width: calc(100% / 8 * 5 - 20px);
    margin: 0px 10px;
    float: left;
}
.imgbgs{
    display: none;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.images>div.image{
    height: min(9rem,360px);
    margin-top: 0;
    border-radius: 0px;
}
div.cntWrap>div.content.cnt01>div.section>div.article:nth-child(1)>div.images{
    float: right;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.images>div.image.i1{
    margin-top: 0;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.texts{
    width: calc(100% / 8 * 2 - 20px);
    margin: 0px 10px;
    float: left;
    margin-top: min(1rem,40px);
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.texts>h3{
    font-size: min(2em,20px);
    margin-top: 0;
    margin-right: 0;
}
div.cntWrap>div.content.cnt01>div.section>div.article:nth-child(1)>div.texts>h3{
    margin-right: 0;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.texts>p{
    height: min(4rem,160px);
    font-size: min(1.2em,12px);
    overflow: hidden;
}
div.cntWrap>div.content.cnt01>div.section>div.article:nth-child(1)>div.texts>p{
    width: 100%;
}
div.cntWrap>div.content.cnt01>div.section>div.article:nth-child(2)>div.texts>p{
    width: 100%;
}


/* cnt02 */
div.cntWrap:nth-child(4){
    margin-top: 0;
    background-color: #301b3f;
    padding: min(1rem,40px) 0 min(3rem,120px);
}
div.cntWrap>div.content.cnt02{
    width: 90%;
    max-width: 700px;
    padding: 0;
}
div.cntWrap>div.content.cnt02>div.header{
    width: 100%;
    position: initial;
}
div.cntWrap>div.content.cnt02>div.header>h2{
    width: 100%;
    text-align: right;
    margin-left: min(1.75rem,-70px);
    padding: 0;
    line-height: min(2rem,80px);
}
div.cntWrap>div.content.cnt02>div.section{
    padding: 0;
}
div.cntWrap>div.content.cnt02>div.section>div.artView{}
div.cntWrap>div.content.cnt02>div.section>div.artView>div.artGroup>div.article>div.image{
    height: min(8rem,320px);
}
div.cntWrap>div.content.cnt02>div.section>div.artView>div.artGroup>div.article>div.texts{
    line-height: min(0.5rem,20px);
}
div.cntWrap>div.content.cnt02>div.section>div.artView>div.artGroup>div.article>div.texts>h3{
    font-size: min(2em,20px);
}
div.cntWrap>div.content.cnt02>div.section>div.artView>div.artGroup>div.article>div.texts>h5{
    font-size: min(1.5em,15px);
}
div.cntWrap>div.content.cnt02>div.section>div.btns{
    display: none;
}
div.cntWrap>div.content.cnt02>div.section>div.pag{
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
}
div.cntWrap>div.content.cnt02>div.section>div.pag>ul.paging{
    height: min(0.5rem,20px);
    width: 60%;
    margin-left: auto;
}
div.cntWrap>div.content.cnt02>div.section>div.pag>ul.paging>li{
    width: 10px;
    height: 10px;
    border-radius: 20px;
    box-shadow: 2px 2px 4px #000;
    float: left;
    margin: 0px 10px;
}
div.cntWrap>div.content.cnt02>div.section>div.pag>ul.paging>li.on{
    width: 20px;
}

/* cnt03 */
div.cntWrap:nth-child(5){
    margin-top: 0;
    background-color: #3c415c;
    padding: min(1rem,40px) 0 min(3rem,120px);
}
div.cntWrap>div.content.cnt03{
    width: 90%;
    max-width: 700px;
    padding: 0;
}
div.cntWrap>div.content.cnt03>div.header{
    position: initial;
}
div.cntWrap>div.content.cnt03>div.header>h2{
    width: calc(100% / 8 * 2);
    line-height: 80px;
    padding: 0;
    text-align: inherit;
    margin-left: min(2.25rem,90px);
}
div.cntWrap>div.content.cnt03>div.section{
    padding: 0;
}
div.cntWrap>div.content.cnt03>div.section>div.article>div.image{
    height: min(5.5rem,220px);
}
div.cntWrap>div.content.cnt03>div.section>div.article>div.texts>div.image{
    height: min(2rem,80px);
}
div.cntWrap>div.content.cnt03>div.section>div.article>div.texts{
    height: min(5.5rem,220px);
    padding-top: min(1rem,40px);
}
div.cntWrap>div.content.cnt03>div.section>div.article>div.texts>h3{
    font-size: min(2.5em,25px);
}

/* bnr */
div.bnrWrap{
    margin-top: 0;
    padding: min(1rem,40px) 0 min(3rem,120px);
    background-color: #e1e0d8;
}
div.bnrWrap>div.banner{
    width: 90%;
    max-width: 700px;
    margin: 0 auto;
}
div.bnrWrap>div.banner>div.header{
    position: initial;
    width: 20%;
    margin-left: auto;
}
div.bnrWrap>div.banner>div.header>h2{
    font-size: min(3.5em,35px);
    line-height: min(2rem,80px);
}
div.bnrWrap>div.banner>div.texts{
    padding: 0;
}
div.bnrWrap>div.banner>div.texts>p{
    font-size: min(2em,20px);
    line-height: min(1.5rem,60px);
    font-weight: 700;
}
div.bnrWrap>div.banner>div.texts>div.bar.bar01{
    top: min(1.25rem,50px);
    height: min(0.25rem,10px);
}
div.bnrWrap>div.banner>div.texts>div.bar.bar02{
    bottom: min(3rem,120px);
    height: min(0.25rem,10px);
}
div.bnrWrap>div.banner>div.texts>div.bar.bar02>div.ovrgird.ovr02 {
    width: calc((100vw - 700px) / 2 + 100%);
    min-width: calc((100vw - 90vw) / 2 + 100%);
    height: min(0.25rem,10px);
}
div.bnrWrap>div.banner>div.texts>div.bar.bar01>div.ovrgird {
    margin-left: min(calc((100vw - 700px) / -2),calc((100vw - 90vw) / -2));
    height: min(0.25rem,10px);
}

/* ftr */
div.ftrWrap{
    padding: 40px 0px;
}
div.ftrWrap>div.footer{
    width: 90%;
    max-width: 700px;
}
div.ftrWrap>div.footer>div.logo{
    margin-top: 0;
}
div.ftrWrap>div.footer>div.footerTop>div.ftrLeft{
    width: 80%;
    float: none;
    margin: 0 auto;
}
div.ftrWrap>div.footer>div.footerTop>div.ftrLeft>div.ftrTop{
    display: none;
}
div.ftrWrap>div.footer>div.footerTop>div.ftrLeft>div.ftrMid{
    margin-top: 0;
}
div.ftrWrap>div.footer>div.footerTop>div.ftrLeft>div.ftrBtm {
    margin-top: 20px;
}
div.ftrWrap>div.footer>div.footerTop>div.ftrRight{
    display: none;
}
div.ftrWrap>div.footer>div.footerTop>div.ftrLeft>div.ftrBtm>ul.nav>li{
    margin-right: 10px;
}