/* 90%=778px*/
html{
    font-size: 5.1vw;
}
body{
    position: relative;
    font-size: 1.2vw;
    background-color: #3c415c;
}

div.hdrWrap::before{
    display: none;
}
div.hdrWrap{
    background-color: #000;
    position: fixed;
    width: 100vw;
    z-index: 999;
}
div.hdrWrap>div.header{
    width: 90%;
    max-width: 700px;
}
div.hdrWrap>div.header::after{
    content: '';
    display: block;
    clear: both;
}
div.hdrWrap>div.header>div.logos{
    float: left;
    width: calc(100% / 8 * 5);
}
div.hdrWrap>div.header>div.logos::after{
    content: '';
    display: block;
    clear: both;
}
div.hdrWrap>div.header>div.logos>i{
    display: block;
    width: calc(100% / 5 * 1);
    float: left;
    font-size: min(3em,30px);
    line-height: min(2rem,80px);
    margin-left: min(2.25rem,90px);
    cursor: pointer;
}
div.hdrWrap>div.header>div.logos>div.logo{
    width: calc(100% / 5 * 2);
    font-size: min(3.5em,35px);
    float: right;
    line-height: min(2rem,80px);
}
div.hdrWrap>div.header>div.icon{
    width: calc(100% / 8 * 1);
    position : inherit;
    float: right;
    font-size: min(3em,30px);
}
div.hdrWrap>div.header>div.icon>i{
    float: left;
    line-height: min(2rem,80px);
    margin: 0px 5px;
}
div.hdrWrap>div.header>div.logos>ul.nav{
    width: 100%;
    float: left;
    height: 0;
    overflow: hidden;
    transition: height 0.5s;
}
div.hdrWrap>div.header>div.logos>ul.nav.navon{
    height: min(2rem,80px);
}
div.hdrWrap>div.header>div.logos>ul.nav>li:nth-child(1){
    margin-left: min(2.25rem,90px);
    margin-right: 15px;
}
div.hdrWrap>div.header>div.logos>ul.nav>li{
    width: calc(100% / 8 * 1);
    margin-left: 20px;
    line-height: min(2rem,80px);
    font-size: min(2em,20px);
}

div.mainWrap{
    margin-top: 0;
    padding: min(6rem,240px) 0 min(3rem,120px);
}
div.mainWrap>div.main{
    width: 90%;
    max-width: 700px;
}
div.mainWrap>div.main>h2{
    margin-left: 0;
    font-size: min(4em,40px);
    line-height: min(1.5rem,60px);
}


div.cntWrap{
    padding: min(3rem,120px) 0  min(3rem,120px);
}
div.cntWrap>div.content{
    width: 90%;
    max-width: 700px;
}
div.cntWrap>div.content>div.header>h2{
    font-size: min(4em,40px);
}
div.cntWrap>div.content>div.section>div.artTop>div.article>div.image{
    height: min(4.5rem,180px);
}
div.cntWrap>div.content>div.section>div.artTop>div.article>div.texts{
    margin-top: min(-4.5rem,-180px);
    height: min(6rem,240px);
}
div.cntWrap>div.content>div.section>div.artTop>div.article>div.texts>h3{
    font-size: min(2.4em,24px);
}
div.cntWrap>div.content>div.section>div.artBtm>div.article>div.image{
    height: min(4.5rem,180px);
}
div.cntWrap>div.content>div.section>div.artBtm>div.article>div.image{
    height: min(4.5rem,180px);
}
div.cntWrap>div.content>div.section>div.artBtm>div.article>div.texts{
    margin-top: min(-4.5rem,-180px);
    height: min(6rem,240px);
}
div.cntWrap>div.content>div.section>div.artBtm>div.article>div.texts>h3{
    font-size: min(2.4em,24px);
}

div.bnrWrap{
    padding: 0 0 min(2rem,80px);
}
div.bnrWrap>div.banner{
    width: 90%;
    max-width: 700px;
    position: relative;
}
div.bnrWrap>div.banner>h2{
    position: inherit;
    width: 100%;
    font-size: min(5em,50px);
    text-align: center;
}
div.bnrWrap>div.banner>div.searchBar{
    border: 0;
    width: calc(100% / 8 * 1);
    position: absolute;
    right: 0; top: min(1.25rem,50px);
}
div.bnrWrap>div.banner>div.searchBar>i{
    font-size: min(4em,40px);
}
div.bnrWrap>div.banner>div.searchBar>input{
    display: none;
}
div.bnrWrap>div.banner>ul.faqMenu{
    margin-top: 0;
}
div.bnrWrap>div.banner>ul.faqMenu>li:nth-child(8)~li{
    display: none;
}
div.bnrWrap>div.banner>ul.faqMenu>li>h3{
    font-size: min(1.8em,18px);
}

/* ftr */
div.ftrWrap{
    padding: min(1rem,40px) 0;
}
div.ftrWrap>div.footer{
    width: 90%;
    max-width: 700px;
}
div.ftrWrap>div.footer>div.logo{
    margin-top: 0;
}
div.ftrWrap>div.footer>div.footerTop>div.ftrLeft{
    width: 80%;
    float: none;
    margin: 0 auto;
}
div.ftrWrap>div.footer>div.footerTop>div.ftrLeft>div.ftrTop{
    display: none;
}
div.ftrWrap>div.footer>div.footerTop>div.ftrLeft>div.ftrMid{
    margin-top: 0;
}
div.ftrWrap>div.footer>div.footerTop>div.ftrLeft>div.ftrBtm {
    margin-top: 20px;
}
div.ftrWrap>div.footer>div.footerTop>div.ftrRight{
    display: none;
}
div.ftrWrap>div.footer>div.footerTop>div.ftrLeft>div.ftrBtm>ul.nav>li{
    margin-right: 10px;
}